body{
    background-color: lightblue;
    text-align: center;

}
#title{
    color: grey;
    font-weight: bold;
}
form{
    width: 500px;
    margin: auto;
}
form input{
    margin: 10px;
}
button{
    margin: 20px;
}